gui: 
  hot-keys:
    <alt><space>: show
    <super>r: run
    <super>t: tr

using:
  - buildin
  - buildin.tools
  - buildin.apps
  - buildin.filter

processors : 
  buildin.apps.init[linux]:
    launch: gtk-launch
    icon: \.png$|\.jpg$
    icons:
      - ~/.local/share/icons/hicolor/48x48/apps
      - /usr/share/icons/hicolor/48x48/apps
      - /usr/share/pixmaps
    path:
      # - ~/Desktop
      - ~/.local/share/applications
      - /usr/share/applications
  buildin.win.list: 
    desc: list all windows
  buildin.filter.grep:
    desc: grep input list
    op:
      i:
        help: ignore case
        action: count
    
alias:
  wins: buildin.win.list
  first: head 1
  last: tail 1
  a: wins | search __arg__ | buildin.win.active
  wm: wins | search __arg__ | buildin.win.move
  run: buildin.apps.list | search __arg__ | buildin.apps.launch
  npmjs: buildin.tools.toPipe --title "Search in npmjs" --text "Search __arg__ in npmjs" --value "https://www.npmjs.com/search?q=__arg__" | buildin.file.open
  github: buildin.tools.toPipe --title "Search in github" --text "Search __arg__ in github" --value "https://github.com/search?q=__arg__" | buildin.file.open
  google: buildin.tools.toPipe --title "Search by google" --text "Search __arg__ by google" --value "https://www.google.com.sg/search?q=__arg__" | buildin.file.open
  bing: buildin.tools.toPipe --title "Search by bing" --text "Search __arg__ by bing"  --value "https://www.bing.com/search?q=__arg__" | buildin.file.open 