gui: 
  hot-keys:
    <alt><space>: show
    <super>r: run
    <super>t: tr

using:
  - buildin
  - buildin.tools
  - buildin.apps

processors : 
  buildin.apps.init[linux]:
    launch: gtk-launch
    icon: \.png$|\.jpg$
    icons:
      - ~/.local/share/icons/hicolor/48x48/apps
      - /usr/share/icons/hicolor/48x48/apps
      - /usr/share/pixmaps
    path:
      # - ~/Desktop
      - ~/.local/share/applications
      - /usr/share/applications
  buildin.win.list: 
    desc: list all windows
  buildin.filter.grep:
    desc: grep input list
    op:
      i:
        help: ignore case
        action: count
    
alias:
  wins: buildin.win.list
  grep: buildin.filter.grep
  tail: buildin.tools.tail
  head: buildin.tools.head
  first: head 1
  last: tail 1
  a: wins | grep -i __arg__ | buildin.win.active
  wm: wins | grep -i __arg__ | buildin.win.move
  run: buildin.apps.list | grep -i __arg__ | buildin.apps.launch
  github: buildin.file.open https://github.com/search?utf8=__arg__
  google: buildin.file.open https://www.google.com.sg/search?q=__arg__
  bing: buildin.file.open https://www.bing.com/search?q=__arg__